.shelf {
    &-page {
        &-wrapper {
            position: relative;
            display: grid;
            grid-template-rows: [page-header]auto [page-content]1fr [page-footer]auto;
            height: 100vh; // This will make the wrapper full height
        }

        &-sidebar {
            position: absolute;
            left: 0; top: 0; // Top left corner when opened

            display: grid;
            grid-template-rows: [sidebar-shelves]auto [sidebar-shelf-form]auto [sidebar-empty]1fr;
            grid-row-gap: 18px;

            height: 100vh;
            padding: 18px 20px;
            background-color: yellow;

            &-shelves {
                li {
                    margin-bottom: 4px;
                }
            }

            &-shelf-form {
                label {
                    margin-bottom: 9px;
                }
            }
        }

        &-header {
            display: inline-grid;
            grid-template-columns: [header-title]1fr [header-links]auto;
            align-items: center;
            padding: 18px 20px;
            background-color: pink;

            &-title {
                h1 {
                    margin: 0;
                }
            }

            &-links {
                ul {
                    display: inline-block;

                    li {
                        display: inline-block;
                        padding: 0 10px;
                    }
                }
            }
        }

        &-content {
            background-color: lime;
        }

        &-footer {
            padding: 18px 20px;
            background-color: cyan;
            text-align: center;
            
            p {
                margin: 0;
                margin-bottom: 4px;
            }
        }
    }
}