.shelf {
    &-page {
        &-wrapper {
            display: grid;
            grid-template-rows: [page-header]auto [page-content]1fr [page-footer]auto;
            grid-template-areas: 
                "page-header"
                "page-content"
                "page-footer";

            height: 100vh; // This will make the wrapper full height
        }

        &-header {
            grid-area: page-header;
            background-color: pink;
        }

        &-content {
            grid-area: page-content;
            background-color: lime;
        }

        &-footer {
            background-color: cyan;

            grid-area: page-footer;
            padding: 18px 0;
            text-align: center;
            
            p {
                margin: 0;
                margin-bottom: 4px;
            }
        }
    }
}