// NOTE: Go by BEM conventions from here on out.
// https://github.com/adobe/aem-core-wcm-components/wiki/css-coding-conventions

.shelf {
    &-listsections {
        $shelfListSections: &;

        @mixin listDisplayOpenPosition() {
            top: 9px;
            opacity: 1;
        };

        position: relative;
        overflow: hidden;

        width: 95vw;
        margin: 9px auto 0;

        &:hover {
            & #{$shelfListSections}__list-display {
                @include listDisplayOpenPosition();
            }
        }

        &__list-display {
            position: absolute;
            top: -18px;
            right: 10px;
            opacity: 0;
            
            transition: 
                0.5s top ease-in,
                0.375s opacity linear 0.125s;

            // From Phone to Tablet
            @media (max-width: 768px) {
                @include listDisplayOpenPosition();
            }
        }

        &__items {
            padding: 27px 20px 18px; // Give some more padding, on top, for list display

            &--tile {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            &--list {
                display: block;
            }

            &--breadcrumb {
                display: block;
            }
        }
    }
}