.common {
    &-button {
        $commonButton: &;
        display: inline-block;
        padding: 9px 20px;
        border: 1px solid $defaultDark;
        font-weight: 600;
        
        &#{$commonButton}--block {
            display: block;
            width: 100%;
        }

        &#{$commonButton}--rounded {
            border-radius: 12px;
        }

        &#{$commonButton}--primary {
            background-color: $defaultPrimary;
            color: $defaultLight;
        }

        &#{$commonButton}--secondary {
            background-color: $defaultSecondary;
            color: $defaultDark;
        }

        &#{$commonButton}--ternary {
            background-color: $defaultTernary;
            color: $defaultLight;
        }

        &#{$commonButton}--light {
            background-color: $defaultLight;
            color: $defaultDark;
        }

        &#{$commonButton}--dark {
            background-color: $defaultDark;
            color: $defaultLight;
        }
    }
}