// TODO: Add the common prefix to button styles
.common {
    &-button {
        $commonButton: &;
        display: inline-block;
        padding: 9px 20px;
        background-color: #eee;
        border: 1px solid #ccc;
        color: #333;

        
        &#{$commonButton}--block {
            display: block;
            width: 100%;
        }

        &#{$commonButton}--rounded {
            border-radius: 12px;
        }
    }
}