.shelf {
    $shelf: &;
    &-layout {
        &__footer {
            padding: 18px 20px;
            background-color: cyan;
            text-align: center;
            
            p {
                margin: 0;
                margin-bottom: 4px;
            }
        }
    }

    &--light {
        #{$shelf} {
            &-layout {
                &__footer {
                    background-color: $lightPrimary;
                }
            }
        }
    }

    &--dark {
        #{$shelf} {
            &-layout {
                &__footer {
                    background-color: $darkPrimary;
                }
            }
        }
    }
}