.shelf {
    $shelf: &;
    &-layout {
        &__footer {
            padding: 18px 20px;
            text-align: center;
            
            p {
                margin: 0;
                margin-bottom: 4px;
            }
        }
    }

    &--light {
        #{$shelf}-layout__footer {
            background-color: $lightPrimary;
        }
    }

    &--dark {
        #{$shelf}-layout__footer {
            background-color: $darkPrimary;
        }
    }
}