.shelf {
    &-breadcrumbs {
        position: relative;

        
        
        // TODO: width for now is temporary
        width: 90vw;
        margin: 9px auto 0;
        background-color: blue;

        &__list-display {
            position: absolute;
            top: 9px;
            right: 10px;
        }

        &__items {
            padding: 27px 20px 18px;

            &--tile {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            &--breadcrumb {
                display: block;
            }
        }
    }
}