.shelf {
    &-layout {
        &__header {
            display: inline-grid;
            grid-template-columns: [header-button]auto [header-title]1fr [header-links]auto;
            grid-column-gap: 10px;
            align-items: center;
            padding: 18px 20px;
            background-color: pink;

            &__title {
                padding-left: 10px;

                h1 {
                    margin: 0;
                }
            }

            &__sidebutton {
                cursor: pointer;
                font-size: 2em;
            }

            &__links {
                ul {
                    display: inline-block;
        
                    li {
                        display: inline-block;
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}