.common {
    &-modal {
        $modalClass: &;

        &-overlay {
            position: fixed;
            top: 0; bottom: 0;
            left: 0; right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);

            // TODO: Figure out how to animate when closing the modal that doesn't retain the overlay.
            &.closed {
                display: none;
            }

            &.opened {
                &.fade {
                    #{$modalClass} {
                        &-container {
                            animation: fadeIn 1s forwards;
                        }
                    }
                }

                &.slide {
                    #{$modalClass} {
                        &-container {
                            animation: slideUp 1s forwards;
                        }
                    }
                }

                &.no-effects {
                    display: block;
                }
            }
        }

        &-container {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;

            display: grid;
            grid-template-rows: auto 1fr auto;
            height: 50%;

            margin: auto;
            padding: 9px 10px;
            background-color: #fff;
            box-shadow: 10px 9px 5px 4px rgba(0,0,0,0.3);

            &.small {
                width: 360px;
            }

            &.medium {
                width: 480px;
            }

            &.large {
                width: 600px;
            }

            // To tablet devices
            // NOTE: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
            @media (max-width: 768px) {
                height: 100%;

                // Needs to override these classes
                &.small, &.medium, &.large {
                    width: 100%;    
                }
            }
        }

        &-header {
            position: relative;
            margin-bottom: 9px;
            padding: 0 35px 9px 0;
            border-bottom: 1px solid #333;

            &-title {
                margin: 0;
            }

            &-close {
                position: absolute;
                top: 2px; right: 10px;
                font-size: 1.5em;
            }
        }

        &-body {
            margin-bottom: 9px;
        }

        &-footer {
            display: flex;
            justify-content: flex-end;
            padding-top: 9px;
            border-top: 1px solid #333;
        }
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
    }

    to {
        // display: none;
        transform: translateY(100vw);
    }
}

@keyframes slideUp {
    from {
        // display: block;
        transform: translateY(100vw);
    }
    to {
        transform: translateY(0);
    }
}