.common {
    &-iconbutton {
        cursor: pointer;
        padding: 4px 5px;
        background-color: $defaultLight;
        border: 1px solid $defaultDark;

        &--small {
            svg {
                font-size: 1em;
            }
        }

        &--medium {
            svg {
                font-size: 2em;
            }
        }

        &--large {
            svg {
                font-size: 3em;
            }
        }

        &--active {
            background-color: $defaultTernary;
        }
    }
}