.common {
    &-iconbutton {
        $commonIconButton: &;

        cursor: pointer;
        padding: 4px 5px;
        background-color: $defaultLight;
        border: 1px solid $defaultDark;

        &#{$commonIconButton}--small {
            svg {
                font-size: 1em;
            }
        }

        &#{$commonIconButton}--medium {
            svg {
                font-size: 2em;
            }
        }

        &#{$commonIconButton}--large {
            svg {
                font-size: 3em;
            }
        }

        &#{$commonIconButton}--primary {
            background-color: $defaultPrimary;
            color: $defaultLight;
        }

        &#{$commonIconButton}--secondary {
            background-color: $defaultSecondary;
            color: $defaultDark;
        }

        &#{$commonIconButton}--ternary {
            background-color: $defaultTernary;
            color: $defaultLight;
        }

        &#{$commonIconButton}--light {
            background-color: $defaultLight;
            color: $defaultDark;
        }

        &#{$commonIconButton}--dark {
            background-color: $defaultDark;
            color: $defaultLight;
        }
    }
}