.common {
    &-iconbutton {
        cursor: pointer;
        padding: 4px 5px;
        background-color: #fff;
        border: 1px solid #333;

        svg {
            font-size: 1em;
        }

        &--active {
            background-color: #cdcdcd;
        }
    }
}