.shelf {
    $shelf: &;

    &--light {
        #{$shelf}-shelfitem {
            .common-item__visual {
                background-color: $lightTernary;
            }
        }
    }

    &--dark {
        #{$shelf}-shelfitem {
            .common-item__visual {
                background-color: $darkTernary;
            }
        }
    }
}