// NOTE: Go by BEM conventions from here on out.
// https://github.com/adobe/aem-core-wcm-components/wiki/css-coding-conventions
.shelf {
    &-directories {
        position: relative;

        // TODO: width for now is temporary
        width: 90vw;
        margin: 9px auto 0;
        background-color: red;

        &__list-display {
            position: absolute;
            top: 9px;
            right: 10px;
        }

        &__items {
            padding: 27px 20px 18px; // Give some more padding, on top, for list display

            &--tile {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }

            &--list {
                display: block;
            }
        }
    }
}