.shelf {
    &-directories {
        position: relative;

        // TODO: width for now is temporary
        width: 90vw;
        margin: 0 auto;
        background-color: red;

        &-listdisplay {
            position: absolute;
            top: 9px;
            right: 10px;
        }

        &-items {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;

            padding: 27px 20px 18px; // Give some more padding, on top, for list display
        }
    }
}