.common {
    &-toast {
        position: absolute;
        right: 20px;
        
        width: 300px;
        padding: 9px 10px;
        background: #fefefe;
        border: 2px solid #333;
        // TODO: Make a variable for a consistent shadow effect
        box-shadow: 5px 4px 10px 1px rgba(0,0,0,0.5);
        text-align: left;

        transition: 1s ease-in;

        &--opened {
            top: 18px;
            opacity: 1;
        }

        &--closed {
            top: -45px;
            opacity: 0;
        }
    }
}