.common {
    &-checkradio {
        display: block;
        margin-bottom: 18px;

        &__input {
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }
    }
}