.common {
    &-item {
        $commonItem: &;

        cursor: pointer;
        margin: 18px 20px;

        &__visual {
            border: 1px solid;
        }

        &__name {
            font-size: 0.9em;
        }

        &--list,
        &--breadcrumb {
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;

            #{$commonItem} {
                &__name {
                    margin: 0; // Resetting
                }

                &__visual {
                    &--image {
                        display: none;
                    }
                }
            }
        }

        &--list {
            display: flex;

            #{$commonItem} {
                &__visual {
                    &--icon {
                        padding: 4px 5px;
                    }
                }

                &__name {
                    padding-left: 10px;
                }
            }
        }

        &--breadcrumb {
            display: inline-flex;
            margin: 0 0 0 5px;
            vertical-align: middle;

            // Add a / after each item
            &:after {
                content: '/';
                margin-left: 10px;
            }

            // Remove any left indent for the first item
            &:first-child {
                margin-left: 0;
            }
            
            &:last-child {
                // Do not add a slash after the last item
                &:after {
                    content: '';
                    margin-left: 0;
                }
            }
            
            #{$commonItem} {
                // Do not show the icon
                &__visual {
                    &--icon {
                        display: none;
                    }
                }

                &__name {
                    padding-left: 5px;
                    font-size: 1.2em;
                }
            }
        }

        &--tile {
            #{$commonItem} {
                &__visual {
                    width: 100%;
                    box-shadow: $boxShadows;
                    
                    &--icon {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;    
                    }

                    &--image {
                        background-size: cover;
                        background-position: center center;
                    }
                }

                &__name {
                    // Long names will get truncated with overflow, text-overflow, and white-space
                    overflow: hidden;
                    text-align: center;
                    text-overflow: ellipsis; // This will give it the ... when overflown
                    white-space: nowrap;
                }
            }
        }
    }
}

// NOTE: https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/

// Size the tiles based on size of the device
@mixin sizing-tiles(
    $padding, 
    $width-constraint: 100%,
    $height-constraint: 100%, 
    $font-size: 3em
) {
    .common {
        &-item {
            $commonItem: &;

            &--tile {
                width: 100%;
                max-width: $width-constraint;

                #{$commonItem} {
                    &__visual {
                        height: $height-constraint;
                        max-width: $width-constraint;
                        max-height: $height-constraint;
                        padding: $padding;

                        &--icon {
                            svg {
                                font-size: $font-size;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Phones
@include phoneDevice() {
    @include sizing-tiles(9px 10px, 76px, 68px, 1.0em);
}

// Tablets
@include tabletDevice() {
    @include sizing-tiles(18px 20px, 96px, 86px, 1.5em);
}

// Laptops
@include laptopDevice() {
    @include sizing-tiles(27px 30px, 116px, 104px, 2.0em);
}

// Desktops
@include desktopDevice() {
    @include sizing-tiles(36px 40px, 136px, 122px, 2.5em);
}

// TVs
@include tvDevice() {
    @include sizing-tiles(45px 50px, 156px, 140px, 3.0em);
}