@mixin minPhoneDevice {
    @media(min-width: $phoneWidth) {
        @content;
    }
}

@mixin maxPhoneDevice {
    @media(max-width: $phoneWidth) {
        @content;
    }
}

.shelf {
    $shelf: &;

    &-layout {
        &__sidebar {
            $shelfLayoutSidebar: &;
            position: fixed;
            z-index: 10;

            display: grid;
            grid-template-rows: [sidebar-shelves]auto [sidebar-shelf-form]auto [sidebar-empty]1fr;
            grid-row-gap: 18px;

            height: 100vh;
            padding: 18px 20px;

            transition: 0.5s ease-out;

            // Only take up some width;
            @include minPhoneDevice() {
                width: 300px;
                border-right: 1px solid;
                box-shadow: $boxShadows;
            }

            // Let it take up the whole screen
            @include maxPhoneDevice() {
                width: 100vw;
            }

            &#{$shelfLayoutSidebar}--opened {
                left: 0; top: 0;
            }

            &#{$shelfLayoutSidebar}--closed {
                @include minPhoneDevice() {
                    left: -300px;
                }

                @include maxPhoneDevice() {
                    left: -100vw;
                }
            }

            h3 {
                margin: 0;
                margin-bottom: 9px;
                padding-bottom: 9px;
                border-bottom: 1px solid;
            }

            &__closebutton {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 9px;
                font-size: 1.5rem;
            }

            &__shelves {
                .common-button {
                    margin-top: 18px;
                }
            }
        }
    }

    &-shelves {
        &__item {
            $shelfShelvesItem: &;
            
            cursor: pointer;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            @include minPhoneDevice() {
                margin-bottom: 9px;
            }

            @include maxPhoneDevice() {
                margin-bottom: 18px;
                padding: 18px 20px;
                border: 1px solid #333;
            }

            &:last-child {
                // Allow the edit button to space away from the listing items
                margin-bottom: 0;
            }

            &--active {
                #{$shelfShelvesItem} {
                    &__name {
                        font-weight: 700;
                    }
                }
            }

            &__name {
                flex: 3;
            }

            &__icons {
                flex: 1;
                display: inline-flex;
                flex-flow: row nowrap;
                justify-content: flex-end;
                font-size: 0.9rem;

                span {
                    padding-left: 5px;
                }

                &--info {
                    cursor: pointer;
                }
            }
        }
    }

    &--light {
        #{$shelf}-layout__sidebar { 
            background-color: $lightTernary;

            @include minPhoneDevice() {
                border-color: $lightDark;
            }

            h3 {
                border-color: $lightDark;
            }
        }
    }

    &--dark {
        #{$shelf}-layout__sidebar { 
            background-color: $lightTernary;

            @include minPhoneDevice() {
                border-color: $darkDark;
            }

            h3 {
                border-color: $darkDark;
            }
        }
    }
}