.shelf {
    $color: #333;
    $constraintWidth: 156px;

    &-foldertile {
        &-wrapper {
            display: inline-block;
            max-width: $constraintWidth;
            margin: 9px 10px;
        }

        &-icon {
            max-width: $constraintWidth;
            max-height: 140px;
            padding: 45px 50px;
            background-color: #fefefe;
            border: 1px solid $color;
            box-shadow: 5px 4px 10px 1px #333;

            svg {
                font-size: 3em;
            }
        }

        &-name {
            // Long names will get truncated with overflow, text-overflow, and white-space
            overflow: hidden;
            font-size: 0.9em;
            text-align: center;
            text-overflow: ellipsis; // This will give it the ... when overflown
            white-space: nowrap;
        }
    }
}

// Desktop size widths: 156px
// TV size widths: bigger