.shelf {
    &-tile {
        $shelfTile: &;

        &-shelf {
            #{$shelfTile}-icon {
                background-color: #cdcdcd;
                border-color: #333;
            }
        }
    }
}