.shelf {
    &-layout {
        &__wrapper {
            position: relative;
            display: grid;
            grid-template-rows: [page-header]auto [page-content]1fr [page-footer]auto;
            height: 100vh; // This will make the wrapper full height
        }

        &__content {
            background-color: lime;
        }
    }
}