* {
    transition: color 2s, background-color 2s;
}

.shelf {
    $shelf: &;

    &-layout {
        &__wrapper {
            position: relative;
            display: grid;
            grid-template-rows: [page-header]auto [page-content]1fr [page-footer]auto;
            height: 100vh; // This will make the wrapper full height
        }
    }

    &--light {
        #{$shelf}-layout__content {
            background-color: $lightLight;
        }
    }

    &--dark {
        #{$shelf}-layout__content {
            background-color: $darkLight;
        }
    }
}