.shelf {
    &-page {
        &-sidebar {
            position: fixed;
            z-index: 10;

            display: grid;
            grid-template-rows: [sidebar-shelves]auto [sidebar-shelf-form]auto [sidebar-empty]1fr;
            grid-row-gap: 18px;

            height: 100vh;
            padding: 18px 20px;
            background-color: yellow;

            transition: 2s ease-out;

            &.opened {
                left: 0; top: 0;
            }

            &.closed {
                left: -100vw;
            }

            h3 {
                margin: 0;
                margin-bottom: 9px;
                padding-bottom: 9px;
                border-bottom: 1px solid #333;
            }
        }
    }
}

// NOTE: This might be in a separate component. Not sure...
// NOTE: If separate component, going to need separate styles for list and grid
.shelves {
    &-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 9px;

        &.active {
            .shelves-item {
                &-name {
                    font-weight: 700;
                }
            }
        }
    }
}