.shelf {
    $shelf: &;

    &--light {
        .common-iconbutton--active {
            background-color: $lightTernary;
        }
    }

    &--dark {
        .common-iconbutton--active {
            background-color: $darkTernary;
        }
    }
}