.shelf {
    &--light {
        .common-modal {
            &__header,
            &__footer {
                background-color: $lightSecondary;
                border-color: $lightDark;
            }

            &__body {
                background-color: $lightLight;
            }
        }
    }

    &--dark {
        .common-modal {
            &__header,
            &__footer {
                background-color: $darkTernary;
                border-color: $darkDark;
                color: $darkLight;
            }

            &__body {
                background-color: $darkPrimary;
            }
        }
    }
}