.shelf-fileitem {
    .common {
        &-item {
            &__visual {
                background-size: cover;
                background-position: center center;
            }
        }
    }

    &.common {
        &-item {
            &--tile {
                .common-item__visual {
                    &--icon {
                        display: none;
                    }
                }
            }

            &--list {
                .common-item__visual {
                    &--image {
                        display: none;
                    }
                }
            }
        }
    }
}