.shelf-fileitem {
    .common {
        &-item {
            &__visual {
                &--image {
                    background-size: cover;
                    background-position: center center;
                }

                &--icon {
                    background-color: #fefefe;
                    border-color: #333;
                }
            }
        }
    }
}