.shelf {
    $shelf: &;
    &-fileitem {
        .common {
            &-item {
                &__visual {
                    &--image {
                        background-size: cover;
                        background-position: center center;
                    }
                }
            }
        }
    }

    &--light {
        #{$shelf}-fileitem {
            .common-item__visual--icon {
                background-color: $lightSecondary;
                border-color: $lightDark;
            }
        }
    }

    &--dark {
        #{$shelf}-fileitem {
            .common-item__visual--icon {
                background-color: $darkSecondary;
                border-color: $darkDark;
            }
        }
    }
}